@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-40Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-45RegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-50Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-55MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-60Semibold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-65SemiboldItalic.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-70Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Victor Sherif';
  src: url('../assets/fonts/VictorSerifTrial-75BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #fff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Victor Sherif', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-panel {
  position: sticky;
  top: 0;
}

.panel.video {
  background-color: transparent;
  color: white;
}

.panel.light {
  background-color: white;
  color: black;
}

.scroll-container {
  position: fixed;
  will-change: transform;
  right: 0;
  left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}


.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.bg-black-0-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-black-0-02 {
  background-color: rgba(0, 0, 0, 0.02);
}

.border-black-0-1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-black-0-05 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-black-0-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.border-radius-12 {
  border-radius: 12px;
}

.mainPage * {
  overflow-x: hidden;
  user-select: none;
  font-family: sans-serif;
}
.mainPage input {
  user-select: auto;
}
.mainPage textarea {
  user-select: auto;
}

.mainPage2 * {
  user-select: none;
  font-family: sans-serif;
}

.login_input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  color: #121212;
}

.login_input:focus {
  border-color: #000;
  border-width: 2px;
}

/* 去掉 focus 的 outline */
.password_input_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.password_input_box_focused {
  border-color: #000;
  border-width: 2px;
}

.password_input {
  position: relative;
  outline: none;
  color: #121212;
}

.login_submit_button {
  border-radius: 8px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.login_submit_button:hover {
  background-color: #474747;
}

.text-black-0-6 {
  color: rgba(0, 0, 0, 0.6);
}
.text-black-0-9 {
  color: rgba(0, 0, 0, 0.9);
}
.text-black-0-3 {
  color: rgba(0, 0, 0, 0.3);
}

.social_login_button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  color: #3D3D3D;
}

.social_login_button:hover {
  background-color: #f0f0f0;
}

.myTitle {
  color: rgba(0, 0, 0, 0.85);
}

.myLabel {
  color: #121212;
}

.codeInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline-color: #000;
}

.logo312 {
  width: 312px;
}

.logo337 {
  width: 337px;
}

/* md */
@media (max-width: 768px) {
  .logo312 {
    width: auto;
  }

  .logo337 {
    width: auto;
  }
}

.trade_page {
  position: relative;
  padding: 0px 80px;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 520px;
  gap: 80px;
}

.trade_page_2 {
  margin-top: 80px;
  padding: 0px 80px;
  /* background-color: #ffff00; */
  /* height: 1300px; */
}


.trade_page_image {
  display: block;
  background-color:rgba(0, 0, 0, 2%);
  /* background-color: #ffff00; */
  height: calc(100vh - 80px);
  flex: 1;
  position: sticky;
  border-radius: 12px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trade_page_image img{
  max-height: calc(100% - 80px);
}

.trade_page_content {
  /* width: 520px; */
  min-height: calc(100vh - 80px);
}
.trade_desc_title{
  /* Victor Sherif */
  /* font-family: Victor Sherif; */
  /* font-weight: 500; */
  font-size: 40px;
  line-height: 48px;
}
.trade_desc_desc {
  font-size: 16px; 
  line-height: 25.6px;
  margin-top: 8px;
  font-weight: 400;
  display: flex;
}
.trade_desc_desc_item1{
  color: rgba(0, 0, 0, 0.9);
}
.trade_desc_desc_item2{
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .trade_page {
    display: block;
    padding: 0px 0px;
  }
  .trade_page_2{
    padding: 0px 20px;
    margin-top: 40px;
  }
  .trade_page_image {
    display: none;
  }
  .trade_page_content{
    width: 100%;
    padding: 0px 20px;
    margin-top: 20px;
    min-height: auto;
  }
  .trade_desc_title{
    font-family: 'Victor Sherif';
    font-weight: 500px;
    font-size: 30px;
    line-height: 36px;
  }
  .trade-footer-fixed{
    height: calc(88px + env(safe-area-inset-bottom));
    background-color: #000;
  }
  .trade-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /*  IOS 安全区 */
    height: calc(88px + env(safe-area-inset-bottom));
    background-color: #fff;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.VictorSherif{
  font-family: 'Victor Sherif';
}
.poppins{
  font-family: 'Poppins';
}

.bg-green-0-1 {
  background-color: rgba(18, 183, 111, 0.1);
}
.bg-green-0-2 {
  background-color: rgba(18, 183, 111, 0.2);
}
.bg-green-0-3 {
  background-color: rgba(18, 183, 111, 0.3);
}

.bg-green-0-4 {
  background-color: rgba(18, 183, 111, 0.4);
}
.bg-green-0-5 {
  background-color: rgba(18, 183, 111, 0.5);
}
.bg-green-0-6 {
  background-color: rgba(18, 183, 111, 0.6);
}
.bg-green-0-7 {
  background-color: rgba(18, 183, 111, 0.7);
}
.bg-green-0-8 {
  background-color: rgba(18, 183, 111, 0.8);
}
.bg-green-0-9 {
  background-color: rgba(18, 183, 111, 0.9);
}
.bg-green-0-10 {
  background-color: rgba(18, 183, 111, 1);
}
.bg-gray-1{
  background-color: rgb(229, 229, 229);
}
.bg-gray-2 {
  background: #D9D9D9;
}
.bg-black-23{
  background-color: rgb(23, 23, 23);
}
.bg-black-17{
  background: #171717;
}

/* 使用伪元素创建底部三角形 */
.bottom-triangle::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  /* background-color: #000; */
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #000; /* 使用 currentColor 跟随父元素颜色 */
}

/*  */
svg.responsive {
  width: 100%;
  height: auto;
}